.modal-content
  .modal-header
    %button.close{href: 'javascript:;', onclick: '$.fancybox.close();', type: 'button'}
      %span{'aria-hidden' => 'true'} x
      %span.sr-only Close
    %h3 New Address
    .modal-body
      #edit_address_errors
      = form_for @address, html: {id: 'new_address', class: 'form-horizontal', role: 'form', data: {remote: true}} do |f|
        .form-group
          .col-sm-3
            Name:
          .col-sm-9
            = f.text_field :name, id: 'name', class: 'form-control'
        .form-group
          .col-sm-3
            Street:
          .col-sm-9
            = f.text_field :street, id: 'street', class: 'form-control'
        .form-group
          .col-sm-3
            City:
          .col-sm-9
            = f.text_field :city, id: 'city', class: 'form-control'
        .form-group
          .col-sm-3
            State:
          .col-sm-9
            = f.text_field :state, id: 'state', class: 'form-control'
        .form-group
          .col-sm-3
            Zip:
          .col-sm-9
            = f.text_field :zip, id: 'zip', class: 'form-control'
        .form-group
          .col-sm-9.col-sm-offset-3
            = f.submit 'Save', class: 'btn btn-success'
